/* Google Font Import Link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
    background: linear-gradient(to right, #e7f0f5 50%, white 50%);
}

nav.sticky {
    padding: 15px 20px;
    background: linear-gradient(to right, #4070f4 50%, #4070f4 50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
    font-family: 'Great Vibes', cursive;
}

nav.sticky .logo a {
    color: #fff;
}

.nav-content .nav-links {
    display: flex;
}

.nav-content .nav-links li {
    list-style: none;
    margin: 0 8px;
}

.nav-links li a {
    text-decoration: none;
    color: #0E2431;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #4070f4;
}

nav.sticky .nav-links li a {
    color: #fff;
    transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
    color: #0E2431;
}

.home {
    background: linear-gradient(to right, #e7f0f5 50%, white 50%);
    padding-top: 120px;
    margin-top: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.home h3 {
    text-align: center;
    font-size: 6vh;
    margin-top: 10vh;
}

.home h1 {
    margin-top: 2vh;
    font-size: 15vh;
    text-align: center;
}

.home p {
    text-align: center;
    font-size: 3.5vh;
    width: 60vw;
    margin: 2vh auto 0 auto;
    color: #7c7c7c;
}

.about {
    display: flex;
    align-items: center;
    padding: 0vh 0vw 0vh 16.4vw;
    background-color: #f5f5f5;
}

.about__image {
    width: 40%;
    height: 70vh;
}

.about__content {
    width: 55%;
    padding-left: 30px;
    margin-top: 6vh;
}

.about h2 {
    margin-bottom: 20px;
    font-size: 10vh;
    font-weight: bold;
}

.about p {
    line-height: 1.5;
    color: #7c7c7c;
    font-size: 3vh;
    margin-bottom: 15px;
}
.about .label { 
    font-weight: bold;
    font-size: 18px;
    color: #0E2431;
}
.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about li {
    margin-bottom: 15px;
    color: #7c7c7c;
}